// screen sizes
$desktop: 1280px;
$desktop-sm: 1024px;
$tablet: 768px;
$tablet-sm: 640px;
$mobile: 480px;
$mobile-sm: 320px;

// main colors
$main-text-color: #000000;
$link-hover: #fb565a;
$bg-header: #eeeeee;

// first type of btn
$btn-hover-first: #e74246;
$btn-active-first: #d7373b;
