.btn {
  display: block;

  padding: 16px 54px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  cursor: pointer;

  border: none;
  border-radius: 3px;

  background-color: $btn-color-first;

  &:hover,
  &:focus-visible {
    background-color: $btn-hover-first;
  }

  &:active {
    background-color: $btn-active-first;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    pointer-events: none;
    background-image: inherit;
    opacity: 0.5;
  }
}

.btn--green {
  background-color: $btn-color-second;

  &:hover,
  &:focus-visible {
    background-color: $btn-hover-second;
  }

  &:active {
    background-color: $btn-active-second;
  }
}

.btn--yellow {
  background-color: $btn-color-third;

  &:hover,
  &:focus-visible {
    background-color: $btn-hover-third;
  }

  &:active {
    background-color: $btn-active-third;
  }
}

.btn--gray {
  color: #000000;
  background-color: $bg-header;

  &:hover,
  &:focus-visible {
    background-color: #dfdfdf;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    border-top: 2px solid #bfbfbf;
    background-color: #d5d5d5;
  }
}
