.content__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 360px));
  column-gap: 40px;
  row-gap: 33px;

  margin-bottom: 50px;
}

@media (max-width: $desktop-sm) {
  .content {
    margin-top: 20px;
  }

  .content__list {
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    justify-content: center;
  }
}

@media (max-width: $tablet) {
  .content__list {
    margin-bottom: 20px;
  }
}
