.filter {
  width: 260px;
}

/* --- fieldset --- */

.filter__group {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-top: 54px;
  padding: 0;

  border: none;
}

.filter__group--range {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
}

.filter__group--addons {
  margin-top: 36px;
}

.filter__group--grid {
  margin-top: 54px;
}

/* --- legend --- */

.filter__legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: #000000;

  margin-bottom: 8px;
}

.filter__legend--range {
  margin-bottom: 48px;
}

/* --- wrapper --- */

.input__wrapper {
  position: relative;
}

.input__wrapper--range {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 260px;
  height: 80px;

  border-radius: 2px;
  background-color: $bg-header;
}

.input__wrapper--range-from,
.input__wrapper--range-to {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 112px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

/* --- label --- */

.input__label {
  display: inline-block;

  color: #283136;
  user-select: none;
}

.input__label--radio {
  padding: 10px 37px 11px;
}

.input__label--checkbox {
  padding: 10px 37px 11px;
}

.input__label:hover .input__icon,
.input__label:focus-visible .input__icon {
  opacity: 1;
}

.input:not(:disabled) ~ .input__label {
  cursor: pointer;
}

/* --- input --- */

.input {
  color: #283136;
}

.input__range {
  width: 219px;
  height: 2px;
}

.input__range-from,
.input__range-to {
  height: 38px;
  width: 80px;

  text-align: center;

  border: none;
  border-radius: 2px;
  background-color: $bg-header;

  cursor: auto !important;
}

.input__radio,
.input__checkbox {
  position: absolute;
  top: 19px;
  left: 14px;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- radio states ---*/

.input__label--radio .input__icon {
  position: absolute;
  top: 6px;
  left: 1px;

  width: 25px;
  height: 25px;

  opacity: 0.4;
  background: url("../images/svg/radio-off.svg") no-repeat;
}

.input__radio:checked ~ .input__label--radio .input__icon {
  background: url("../images/svg/radio-on.svg") no-repeat;
}

.input__radio:focus ~ .input__label--radio .input__icon {
  opacity: 1;
}

.input__radio:disabled ~ .input__label--radio .input__icon {
  opacity: 0.1;
  cursor: default;
}

/* --- checkbox states --- */

.input__label--checkbox .input__icon {
  position: absolute;
  top: 7px;
  left: 1px;

  width: 26px;
  height: 23px;

  opacity: 0.4;
  background: url("../images/svg/checkbox-off.svg") no-repeat;
}

.input__checkbox:checked ~ .input__label--checkbox .input__icon {
  background: url("../images/svg/checkbox-on.svg") no-repeat;
}

.input__checkbox:focus ~ .input__label--checkbox .input__icon {
  opacity: 1;
}

.input__checkbox:disabled ~ .input__label--checkbox .input__icon {
  opacity: 0.1;
  cursor: default;
}

/* --- button --- */

.filter__btn {
  margin-top: 40px;
  width: 260px;
}

.filter__hide-button {
  display: none;
  z-index: 6;
}

@media (max-width: $desktop-sm) {
  .filter {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;

    width: 280px;

    transition: 0.3s ease-in;
  }

  .filter.no-js {
    position: static;
    width: auto;

    .filter__form {
      position: static;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      height: auto;
      margin: auto;
      padding: 0;

      direction: initial;
      border: none;
      border-radius: 0;
    }

    .filter__group {
      flex-direction: column;
      justify-content: flex-start;

      width: 260px;
      margin-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .input-wrapper {
      display: block;
    }

    .filter__btn {
      align-self: flex-end;
      margin-top: 20px;
    }

    .filter__hide-button {
      display: none;
    }
  }

  .filter--hidden {
    transform: translateX(-120%);
    top: 32px;

    .filter__hide-button {
      top: -10px;
      right: -120px;

      height: 60px;
      width: 60px;

      border: 4px solid #dfdfdf;
      box-shadow: inset 0 0 12px 0 #dfdfdf;

      &::after {
        left: 4px;
        bottom: 2.5px;

        width: 50px;
        height: 50px;
        transform: rotate(270deg);
      }
    }

    .filter__form {
      visibility: hidden;
    }
  }

  .filter__hide-button {
    position: absolute;
    top: 7px;
    right: 0;

    display: block;
    padding: 0;

    width: 50px;
    height: 50px;
    background-color: $bg-header;
    border-radius: 50%;

    border: 3px solid #dfdfdf;
    box-shadow: inset 0 0 8px 0 #dfdfdf;
    transition: 0.3s ease-out;

    &::after {
      content: url('../images/svg/arrow-down.svg');
      position: absolute;
      left: 10px;
      bottom: 12px;
      width: 35px;
      height: 35px;
      transform: rotate(90deg);
      transform-origin: center;

      transition: 0.2s linear;
    }
  }

  .filter__form {
    position: absolute;
    left: -20px;

    padding: 20px;
    height: 90vh;
    overflow-y: auto;
    direction: rtl;

    border: 4px solid $bg-header;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #ffffff;
  }

  .filter__legend--range {
    margin-bottom: 13px;
  }

  .filter__group--range {
    margin-top: 0;
    direction: initial;
  }

  .filter__group--grid {
    margin-top: 30px;
    direction: initial;
  }

  .filter__group--addons {
    margin-top: 30px;
    direction: initial;
  }
}

@media (max-width: $tablet) {
  .filter {
    top: 86px;
  }

  .filter__form {
    height: 70vh;
  }
}

@media (max-width: $mobile) {
  .filter--hidden .filter__hide-button {
    top: 0;
    right: -100px;
    height: 40px;
    width: 40px;

    &::after {
      transform: rotate(270deg) scale(0.7);
      bottom: -8px;
      left: -7px;
    }
  }

  .filter__hide-button {
    height: 40px;
    width: 40px;

    &::after {
      transform: rotate(90deg) scale(0.7);
      bottom: 4.5px;
      left: 3px;
    }
  }
}
