.flex-box {
  display: flex;
  justify-content: space-between;

  padding-bottom: 48px;
  border-bottom: 2px solid $bg-header;
}

@media (max-width: $desktop-sm) {
  .flex-box {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    padding-bottom: 30px;
  }
}
