.modal {
  display: none;

  position: fixed;
  top: calc(50% - 295px);
  left: calc(50% - 480px);

  width: 960px;
  min-height: 590px;
  padding: 0 100px;

  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);

  &.shown {
    display: block;
  }

  .modal__close-btn {
    position: absolute;
    right: 90px;
    top: 78px;
    width: 21px;
    height: 21px;

    cursor: pointer;
    border: none;
    opacity: 0.3;
    background: url('../images/svg/close-cross.svg') no-repeat;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.contact-us__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  margin-top: 65px;
  margin-bottom: 42px;
}

.contact-us__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & > div {
    position: relative;
  }

  & > div:not(:last-of-type) {
    width: 360px;
  }

  & > div:last-of-type {
    width: 100%;
  }

  label {
    display: block;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    margin-bottom: 9px;

    span {
      color: #fb565a;
    }
  }

  input,
  textarea {
    padding: 15px;
    border: none;
    box-shadow: inset 0 0 0 2px #d7dcde;
    border-radius: 3px;
  }

  input {
    width: 100%;
    height: 50px;

    margin-bottom: 34px;
  }

  textarea {
    resize: none;

    width: 100%;
    height: 117px;

    margin-bottom: 43px;
  }

  .text-error {
    position: absolute;
    bottom: 12px;
    left: 13px;

    font-size: 14px;
    color: #fb565a;
  }

  textarea ~ .text-error {
    bottom: 26px;
  }

  .max-count {
    position: absolute;
    top: 0;
    right: 0;
  }

  .error {
    border: 2px solid #fb565a;
    border-radius: 3px;
  }

  .contact-us__btn {
    position: relative;
    min-width: 260px;
    margin-bottom: 65px;
  }
}
