.order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* --- title --- */

  .filter__legend {
    margin: 0;
    margin-left: 12px;
  }

  /* --- label --- */

  .input__label {
    padding: 11px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #000000;
    opacity: 0.3;
  }

  .input__label[for="asc"],
  .input__label[for="desc"] {
    padding-left: 0;
    padding-right: 0;
  }

  .input__label[for="asc"]::before {
    content: url("../images/svg/icon-up-dir.svg");
  }

  .input__label[for="desc"]::before {
    content: url("../images/svg/icon-down-dir.svg");
  }

  /* --- input states --- */

  .input__label:hover {
    opacity: 0.6;
  }

  .input__radio:focus-visible ~ .input__label {
    color: $text-menu-hover;
  }

  .input__radio:focus-visible ~ .input__label[for="asc"]::before {
    content: url("../images/svg/icon-up-dir_tomato.svg");
  }

  .input__radio:focus-visible ~ .input__label[for="desc"]::before {
    content: url("../images/svg/icon-down-dir_tomato.svg");
  }

  .input__radio:checked ~ .input__label,
  .input__label:active {
    opacity: 1;
  }
}

/* --- fieldset --- */

.filter__group--order {
  flex-direction: row;
  margin: 0;
}

/* --- wrapper --- */

.filter__group--order .input__wrapper {
  display: inline-block;
}

/* --- groups --- */

.order__direction {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin-left: 38px;
}

@media (max-width: $desktop-sm) {
  .order {
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 20px;

    .filter__legend {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0 0 0 0);

      font-size: 16px;
    }
  }

  .filter__group--order {
    align-self: flex-end;
  }
}

@media (max-width: $mobile) {
  .order {
    margin-left: 80px;
  }

  .order.no-js {
    margin-left: auto;
  }

  .filter__group--order {
    .input__label {
      padding: 9px;

      font-size: 13px;
      line-height: 13px;
    }
  }

  .order__direction {
    margin-left: 3vw;
  }
}
