.our-works {
  border-bottom: 2px solid $bg-header;
  margin-bottom: 80px;

  padding: 0;
}

.our-works__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  min-height: 180px;

  margin: 0;
  padding: 20px 0;

  list-style: none;
}

.our-works__item {
  position: relative;

  width: 300px;
  margin-top: 8px;
  text-align: center;

  a {
    display: inline-block;
    opacity: 0.2;
  }

  a:hover,
  a:focus-visible {
    opacity: 1;
  }

  a:active {
    opacity: 0.1;
  }

  &:first-of-type {
    margin-top: 13px;
  }

  &:not(:first-of-type)::before {
    content: '';

    position: absolute;
    left: -1px;
    top: calc(50% - calc(52px / 2));

    width: 2px;
    height: 52px;
    background-color: $bg-header;
  }
}

@media(max-width: $desktop-sm) {
  .our-works {
    margin-bottom: 46px;
  }
}

@media(max-width: $tablet-sm) {
  .our-works {
    margin-bottom: 46px;
  }

  .our-works__list {
    gap: 10px;
  }

  .our-works__item::before {
    display: none;
  }
}
