.page-main__title {
  min-height: 234px;

  margin: 0;
  padding: 0;
  padding-top: 70px;
  text-align: center;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  background-color: $bg-header;
}

@media (max-width: $desktop-sm) {
  .page-main__title {
    min-height: 120px;
    padding-top: 24px;

    font-size: 36px;
    line-height: 36px;
  }
}

@media (max-width: $tablet) {
  .page-main__title {
    padding-top: 0;
    padding-bottom: 20px;

    min-height: auto;

    font-size: 22px;
    line-height: 22px;
  }
}

@media (max-width: $mobile) {
  .page-main__title {
    padding-bottom: 16px;
    padding-left: 20px;

    font-size: 18px;
    line-height: 18px;

    text-align: left;
  }
}
