.page-header {
  background-color: $bg-header;
  padding-bottom: 10px;

  .container {
    display: flex;
    align-items: flex-end;
    min-height: 112px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
  }
}

.header__logo {
  display: block;

  flex-shrink: 0;
  margin-right: 20px;

  img {
    width: 160px;
    height: 65px;

    vertical-align: bottom;
    transform: translateY(2px);
  }

  &[href]:hover,
  &[href]:focus-visible {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav,
.user-nav {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  list-style: none;

  a {
    position: relative;

    display: inline-block;
    padding: 13px;

    text-decoration: none;
    color: $main-text-color;

    cursor: pointer;

    &:hover,
    &:focus-visible {
      color: $text-menu-hover;
    }

    &:active {
      opacity: 0.3;
    }

    &.active::after {
      position: absolute;

      left: 0;
      right: 0;
      bottom: 0;

      margin-left: 13px;
      margin-right: 13px;

      content: "";
      border-bottom: 2px solid $text-menu-hover;
    }
  }
}

.main-nav {
  justify-content: space-between;
  min-width: 466px;
  margin: 0 auto;

  li {
    //flex-grow: 1;
  }

}

.user-nav {
  justify-content: flex-end;
  min-width: 180px;


  li {
    margin-left: 13px;
  }

  .user-nav__cart {
    padding-left: 40px;
    padding-right: 0;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 14px;

      width: 17px;
      height: 17px;

      background: url('../images/svg/cart-icon.svg') no-repeat;
    }

    &.active::after {
      margin: 0 auto;
    }
  }
}
