/* --- Header --- */

.page-header {
  background-color: $bg-header;
  padding-bottom: 10px;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 112px;
  }
}

/* --- Logo --- */

.header__logo {
  display: block;

  min-width: 180px;

  &[href]:hover,
  &[href]:focus-visible {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.header__image {
  width: 160px;
  height: 65px;

  vertical-align: bottom;
}

@media (max-width: $desktop-sm) {
  .page-header .container {
    align-items: center;
    min-height: 80px;
  }

  .header__image {
    width: 130px;
    height: auto;
    vertical-align: top;
  }
}

@media (max-width: $tablet) {
  .page-header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .page-header .container {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    min-height: auto;
    padding-top: 10px;
  }

  .header__logo {
    min-width: auto;
  }
}
