.slider {
  overflow: hidden;
  margin-bottom: 80px;
  background-color: $bg-header;

  .slider__item {
    height: 433px;
    position: relative;

    display: none;

    &.shown {
      display: flex;
      justify-content: flex-end;
    }
  }

  .slider__content {
    position: absolute;
    left: 0;
    top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 580px;

    p:first-of-type {
      margin-top: 60px;
      margin-bottom: 11px;

      color: #000000;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;

      max-width: 100%;
    }

    p {
      color: #283136;
      font-size: 16px;
      line-height: 24px;

      max-width: 430px;
    }
  }

  .slider__img {
    align-self: flex-end;

    max-width: 698px;

    margin-left: 31px;
    margin-right: 31px;
  }

  .btn {
    align-self: flex-start;

    margin-top: 22px;
    margin-bottom: 22px;
  }
}
