.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

[hidden] {
  display: none;
}

/**
 * Font settings
 * Roboto [regular, medium, bold]
 */

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotomedium.woff') format('woff'); /* Modern Browsers */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotobold.woff') format('woff'); /* Modern Browsers */
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(-20px);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(20px);
  }
}

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

ul {
  padding: 0;
}

.container {
  box-sizing: border-box;

  padding-left: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  box-sizing: border-box;

  padding: 0;
  height: 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  text-align: center;
  vertical-align: center;

  border: none;
  border-radius: 2px;

  cursor: pointer;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:hover {
  background-color: #e5a722;
}

/**
 * HEADER
 */
.header {
  background-color: #eee;
}

.header .container {
  display: flex;
  justify-content: space-between;

  padding-top: 49px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 13px;
}

.header .header-logo {
  max-width: 160px;
  max-height: 65px;
}

.header .header-logo:active {
  opacity: 0.3;
}

.header .main-nav,
.header .user-nav {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.user-nav .cart-wrapper,
.main-nav .nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style-type: none;

  margin: 0;
  padding: 0;

  margin-top: 26px;
}

.main-nav .nav-list {
  width: 440px;
}

.user-nav {
  padding-left: 48px;
}

.main-nav a,
.user-nav a {
  color: inherit;
  text-decoration: none;
}

.main-nav a:hover,
.user-nav a:hover {
  color: #fb565a;
}

.main-nav a:active,
.user-nav a:active {
  color: #c1c1c1;
}

.main-nav .current,
.user-nav .current {
  padding-bottom: 13px;
  border-bottom: 2px solid #fb565a;
}

.nav-cart a {
  padding-left: 20px;
  white-space: nowrap;
}

.nav-cart a::before {
  position: relative;
  display: inline-block;
  content: "";
  background-image: url('../img/svg/cart-icon.svg');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 2px;
  right: 25px;
}


/**
 * MAIN
 */
.main-content {
  background-color: #fff;
}

.main-content .slider {
  position: relative;
  background-color: #eee;
}

.slider .slide-picker {
  position: absolute;
  bottom: 91px;
  left: calc(50% - 45px);

  padding: 0;
  margin: 0;
  z-index: 10;

  cursor: default;
}

.slide-picker .picker {
  position: relative;
  display: inline-block;
  border: 9px solid white;
  border-radius: 9px;

  margin-right: 14px;

  cursor: pointer;
}

.slide-picker .active::before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 4px;
}

.slider-list .slider-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.slider .slider-content {
  width: 380px;
  padding-top: 59px;
}

.slider .slider-image {
  flex-grow: 1;

  max-height: 411px;
  overflow: hidden;
}

.slider-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;


  width: auto;
  height: 100%;
}

.slider-content p:first-child {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-family: inherit;
  font-weight: 500;

  white-space: nowrap;
}

.slider-item p {
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 400;

  color: #283136;
}

.slider-item p:last-of-type {
  margin-bottom: 39px;
}

.btn-info {
  width: 240px;
  background-color: #fb565a;
}

.btn-info:hover {
  background-color: #e74246;
}

.btn-info:active {
  background-color: #d7373b;
}

.main-content .services {
  margin-top: 81px;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 0;
}

.services .product {
  flex-basis: 300px;
  padding-bottom: 80px;
  flex-grow: 1;

  padding-left: 20px;
}

.services h3 {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;

  margin-top: 21px;
  margin-bottom: 16px;
}

.services p {
  max-width: 260px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  margin-bottom: 32px;
}

.services .btn {
  width: 160px;
}

.main-content .services::after {
  content: "";
  display: block;
  max-width: 1160px;
  border-bottom: 2px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.main-content .section-info {
  display: flex;
  justify-content: space-between;

  padding-right: 20px;
}

.section-info .about-us {
  max-width: 660px;
  margin-top: 29px;
}

.about-us p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(40, 49, 54);
}

.about-us p:first-of-type {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  margin-bottom: 34px;
}

.about-us .work-title {
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 38px;
  margin-bottom: 25px;
}

.about-us .work-list {
  list-style: none;
  padding-left: 36px;
}

.work-list li {
  margin-bottom: 28px;
}

.work-list li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;

  position: relative;
  top: 10px;
  right: 35px;
}

.section-info .advantages {
  margin-top: 40px;
  max-width: 360px;
}

.advantages > p {
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 35px;
  margin-left: 17px;
}

.advantages dl {
  display: flex;
  justify-content: space-between;

  margin-top: 41px;
}

.advantages dd,
.advantages dt {
  margin: 0;
  padding: 0;

  display: inline-block;
}

.advantages dt {
  font-weight: 700;
  font-size: 45px;
}

.advantages dd {
  font-weight: 400;
  margin-top: 16px;
}

.advantages dt sup {
  font-size: 28px;
}

.main-content .clients::before {
  content: "";
  display: block;
  max-width: 1160px;
  border-bottom: 2px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.main-content .clients::after {
  content: "";
  display: block;
  max-width: 1160px;
  border-bottom: 2px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.main-content .clients {
  margin-top: 48px;
  margin-bottom: 80px;
}

.clients .container {
  padding-left: 0;
}

.clients ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding-left: 0;
  padding-right: 10px;
}

.clients .line {
  display: block;

  padding: 0;
  margin: 0;

  flex-grow: 0;

  border-right: 2px solid #eee;
  height: 52px;
}

.clients .client-logo {
  opacity: 0.2;
}

.clients .client-logo:hover {
  opacity: 1;
}

.clients li {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  height: 180px;
}

.footer .footer-map {
  background-color: #eee;
}

.footer-map .container {
  position: relative;

  background-image: url("../img/map.png");
  background-size: cover;
  width: auto;
  height: 416px;

  padding: 0;
}

.footer-map iframe {
  box-sizing: border-box;
  max-width: 1200px;
}

.footer-map .address {
  position: absolute;

  margin-left: 120px;
  margin-right: 120px;
  top: 54px;

  padding: 27px 50px 48px 50px;

  background-color: #fff;
}

.address .btn {
  display: block;
  width: 219px;
}

.address p {
  margin-left: 2px;
  margin-top: 23px;
  margin-bottom: 17px;
  color: #666666;
}

.address p:first-of-type {
  margin-left: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.address .tel {
  display: block;

  color: #666666;
  text-decoration: none;

  margin-bottom: 37px;
  margin-left: 2px;
}

.footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  list-style: none;
}

.social .social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;

  margin-bottom: 12px;
}

.social .social-button:hover {
  background-color: #e74246;
}

.social .social-button:active {
  background-color: #d7373b;
}

.social-button:active svg {
  opacity: 0.3;
}

.footer .footer-wrap {
  display: flex;
  justify-content: flex-start;

  min-height: 216px;

  padding-top: 54px;
}

.footer .footer-invite {
  padding-left: 140px;
}

.footer-invite p {
  box-sizing: border-box;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;

  margin-top: 10px;
}

.footer-invite p:first-of-type {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  margin-top: 21px;
  margin-bottom: 10px;
}

.popup {
  opacity: 0;
  visibility: hidden;

  position: fixed;

  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  /*background-color: rgba(0, 0, 0, 0.8);*/

  overflow-y: auto;
  overflow-x: hidden;
}

.popup-show {
  opacity: 1;
  visibility: visible;

  animation-name: bounce;
  animation-duration: 0.6s;
}

.popup-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.contact-us .popup-body {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 10px;

  min-height: 100%;
}

.contact-us .popup-content {
  position: relative;
  bottom: 6px;

  box-sizing: border-box;
  max-width: 960px;

  padding: 50px 100px;

  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

body.lock {
  overflow: hidden;
}

.contact-us .btn-close {
  box-sizing: border-box;

  position: absolute;
  display: block;

  width: 21px;
  height: 21px;

  border: none;
  border-radius: unset;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/svg/close-cross.svg");

  top: 78px;
  right: 90px;

  cursor: pointer;
}

.contact-us .btn-close:hover {
  opacity: 0.3;
}

.contact-us .btn-close:active {
  opacity: 0.1;
}

.contact-us p:first-of-type {
  font-size: 45px;
  line-height: 40px;
  font-weight: 500;

  margin-top: 19px;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.contact-us-form .input-label {
  width: 360px;

  margin-bottom: 33px;
}

.contact-us-form input {
  box-sizing: border-box;

  width: 100%;
  height: 50px;

  margin-top: 9px;
}

.contact-us-form .textarea-label {
  width: 760px;
}

.contact-us-form textarea {
  box-sizing: border-box;

  width: 100%;
  height: 118px;

  margin-top: 9px;
  margin-bottom: 43px;
}

.contact-us-form input,
.contact-us-form textarea {
  padding: 12px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.contact-us-form input:focus::placeholder,
.contact-us-form textarea:focus::placeholder {
  color: #444444;
}

.contact-us-form .btn {
  width: 260px;
  margin-bottom: 34px;
}

.contact-us-form .invalid {
  color: #e74246;
  border-color: #e74246;
}
